# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WORKPLACE\SI_lab2_163110\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
